body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.login-container {
    display: flex;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    max-width: 900px;
}

.login-box, .image-container {
    padding: 40px;
}

.brand-logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

.social-login-buttons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.social-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    width: 150px;
}

.facebook-button {
    background-color: #3b5998;
    color: white;
}

.x-button {
    background-color: #074e0d;
    color: white;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="email"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.forgot-password-link {
    align-self: flex-end;
    text-decoration: none;
    color: #007BFF;
}

.form-buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.login-button {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sign-up-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.image-container img {
    width: 400px;
    height: 600px;
}

